.reasons {
  min-height: 470px;
  padding: 70px 0 78px 0;
  background-color: #f6f6f6;
  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__row {
    margin: 65px 20px 0 20px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  &__descr {
    width: 247px;
  }
  &__subtitle {
    margin-top: 38px;
    font-size: 18px;
    font-weight: 700;
    color: #0d0d0d;
    text-align: center;
  }
  &__text {
    margin-top: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #0d0d0d;
    text-align: center;
    a {
      color: #ff0000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
